.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.card__image:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(33, 33, 33, 0.7);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  color: #212121;
  font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  margin: 12px 0 0 0;
  max-width: 390px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__like-btn {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  margin: 12px 0 0 0;
  transition: opacity 0.3s ease;
  /* cursor: pointer IS ONLY NEEDED ON THE :hover PSEUDOCLASS */
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url("../images/heart-full.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-image: url("../images/delete.svg");
  background-color: transparent;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url("../images/delete-hover.svg");
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 265px;
    font-size: 16px;
  }
}
