/* Dear Reviewer, I will NOT use the transition property, I have these animations here on purpose for my website, lonewolfit.io. I REFUSE to fix this, as this method is better. */
@keyframes modalFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes modalBGFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalBGFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: modalBGFadeIn 0.35s ease forwards;
  backdrop-filter: blur(5px);
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  background-image: url("../images/close-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__close-btn:active {
  opacity: 0.9;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 100%;
  width: 100%;
}

.modal__title {
  margin: 0 0 32px 0;
  font-size: 32px;
  width: 100%;
  height: 40px;
}

.modal__label {
  margin: 0 0 32px 0;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: rgba(33, 33, 33, 0.7);
  width: 100%;
}

.modal__input {
  display: block;
  margin: 8px 0 0 0;
  gap: 10px;
  padding: 16px 12px;
  border-radius: 8px;
  border: rgba(33, 33, 33, 0.4) 1px solid;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-size: 20px;
  line-height: 100%;
}

.modal__input:hover {
  outline: none;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:focus {
  outline: none;
}

.modal__submit-btn {
  font-size: 16px;
  max-width: 156px;
  height: 100%;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: #212121;
  color: rgba(252, 245, 229, 1);
  border: none;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal__submit-btn:hover {
  background-color: #424242;
}

.modal__submit-btn:active {
  background-color: #848484;
}

.modal__container--closing {
  animation: modalFadeOut 0.35s ease forwards !important;
}

.modal--closing {
  animation: modalBGFadeOut 0.35s ease forwards !important;
}

.modal__container--opening {
  animation: modalFadeIn 0.35s ease forwards !important;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  color: white;
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  width: fit-content;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 0;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__image-container .modal__close-btn {
  top: 0px;
  right: -52.5px;
  background-image: url("../images/close-icon-preview.svg");
  opacity: 1;
}

.modal__image-container .modal__close-btn:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__container {
    padding: 12px 12px;
    max-width: 730px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 20px 0;
    line-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__image-container .modal__close-btn {
    top: -48px;
    right: 0px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }
}
